@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  color: #8f8f8f;
  background: #121214;
}
.custom-timer {
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
}

.progress-ring-progress {
  transition: stroke-dashoffset 0.5s;
}

.progress-text {
  font-size: 1.5rem;
  fill: #fff; /* Color of the timer text */
}

.timer-controls {
  margin-top: 1rem;
}

.timer-controls input {
  font-size: 1rem;
  padding: 0.5rem;
}
